<template>
  <div class="about">
    <task-history />
  </div>
</template>

<script>
import TaskHistory from '../components/TaskHistory.vue';

export default {
  components: {
    TaskHistory
  }
};
</script>
